./DS_store
./.gradle
./.idea
.gradle/6.5/executionHistory/executionHistory.bin
.gradle/6.5/executionHistory/executionHistory.lock
.gradle/6.5/fileChanges/last-build.bin
.gradle/6.5/fileContent/fileContent.lock
.gradle/6.5/fileHashes/fileHashes.bin
.gradle/6.5/fileHashes/fileHashes.lock
.gradle/6.5/fileHashes/resourceHashesCache.bin
.gradle/6.5/gc.properties
.gradle/6.5/javaCompile/classAnalysis.bin
.gradle/6.5/javaCompile/jarAnalysis.bin
.gradle/6.5/javaCompile/javaCompile.lock
.gradle/6.5/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/checksums/sha1-checksums.bin
.gradle/vcs-1/gc.properties
.idea/.name
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/libraries/Gradle__androidx_activity_activity_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_annotation_annotation_1_1_0.xml
.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_0_0_rc01_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0.xml
.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_camera_camera_camera2_1_0_0_SNAPSHOT_aar.xml
.idea/libraries/Gradle__androidx_camera_camera_core_1_0_0_SNAPSHOT_aar.xml
.idea/libraries/Gradle__androidx_camera_camera_lifecycle_1_0_0_SNAPSHOT_aar.xml
.idea/libraries/Gradle__androidx_camera_camera_view_1_0_0_SNAPSHOT_aar.xml
.idea/libraries/Gradle__androidx_collection_collection_1_1_0.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_1_1_3_aar.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_solver_1_1_3.xml
.idea/libraries/Gradle__androidx_core_core_1_3_0_aar.xml
.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_customview_customview_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_exifinterface_exifinterface_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_fragment_fragment_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_2_0.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_extensions_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_process_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_service_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_multidex_multidex_2_0_1_aar.xml
.idea/libraries/Gradle__androidx_savedstate_savedstate_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_base_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_basement_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_clearcut_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_flags_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_mlkit_barcode_scanning_16_1_2_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_mlkit_face_detection_16_1_1_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_mlkit_text_recognition_16_1_1_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_phenotype_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_tasks_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_vision_20_1_2_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_vision_common_19_1_2_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_vision_face_contour_internal_16_0_3_aar.xml
.idea/libraries/Gradle__com_google_code_gson_gson_2_8_5.xml
.idea/libraries/Gradle__com_google_firebase_firebase_components_16_0_0_aar.xml
.idea/libraries/Gradle__com_google_guava_guava_17_0.xml
.idea/libraries/Gradle__com_google_mlkit_barcode_scanning_16_0_3_aar.xml
.idea/libraries/Gradle__com_google_mlkit_common_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_mlkit_face_detection_16_0_2_aar.xml
.idea/libraries/Gradle__com_google_mlkit_image_labeling_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_mlkit_image_labeling_automl_16_2_1_aar.xml
.idea/libraries/Gradle__com_google_mlkit_image_labeling_common_16_2_1_aar.xml
.idea/libraries/Gradle__com_google_mlkit_image_labeling_custom_16_2_1_aar.xml
.idea/libraries/Gradle__com_google_mlkit_image_labeling_default_common_16_0_0_aar.xml
.idea/libraries/Gradle__com_google_mlkit_mediapipe_internal_16_0_0_aar.xml
.idea/libraries/Gradle__com_google_mlkit_object_detection_16_2_1_aar.xml
.idea/libraries/Gradle__com_google_mlkit_object_detection_common_16_2_1_aar.xml
.idea/libraries/Gradle__com_google_mlkit_object_detection_custom_16_2_1_aar.xml
.idea/libraries/Gradle__com_google_mlkit_pose_detection_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_mlkit_pose_detection_accurate_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_mlkit_pose_detection_common_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_mlkit_vision_common_16_1_0_aar.xml
.idea/libraries/Gradle__com_google_mlkit_vision_internal_vkp_17_0_1_aar.xml
.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_3_0_0.xml
.idea/libraries/Gradle__com_squareup_okio_okio_1_6_0.xml
.idea/libraries/Gradle__org_jetbrains_annotations_13_0.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_android_extensions_runtime_1_3_72.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_3_72.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_3_72.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_3_72.xml
.idea/libraries/Gradle__org_tensorflow_tensorflow_lite_2_1_0_aar.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/app/ML_Kit_Vision_Quickstart.app.iml
.idea/modules/ML_Kit_Vision_Quickstart.iml
.idea/vcs.xml
